@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


body {
    background-color: #96c5cc;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* ----------------------------------- */

/* INDEX PAGE */

/* ----------------------------------- */

/* logo styling */

.logo {
    margin-left: 30px;
    width: 70px;
    position: absolute;
    margin-top: 10px;
}

.logo img {
    border-radius: 100%;
}


/* nav-bar styling */

.navigation-background {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 2px 10px 20px #bebebe; 
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-bar-container {
    margin-bottom: 20px;
    margin-top: 25px;
}

.nav-bar-container ul {
    list-style-type: none;
}

.nav-bar-container .nav-bar-elements {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: "DM Sans", sans-serif;
}

.nav-bar-container .nav-bar-elements:hover {
    color: #827CF5;
}




/* register and login styling */

.register-login-container {
    position: absolute;
    right: 30px;
}


/* new releases title */

.up-coming {
    margin-top: 200px;
}

.up-coming h1 {
    font-family: "DM Sans", sans-serif;
    user-select: none;
}


/* cards styling */

.movies-cards {
    position: relative;
    margin-top: 80px;
}

.Minions-3 img {
    width: 200px;
    border-radius: 25px;
}

.Minions-3 img:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.Toy-Story-5 img {
    width: 200px;
    border-radius: 25px;
}

.Toy-Story-5 img:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.SuperMarioGalaxyMovie img {
    width: 190px;
    border-radius: 25px;
}

.SuperMarioGalaxyMovie img:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.Spiderman-No-Way-Home img {
    width: 200px;
    border-radius: 25px;
}

.Spiderman-No-Way-Home img:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.wednesday img {
    height: 300px;
    width: 200px;
    border-radius: 25px;
}

.wednesday img:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.fallout img {
    height: 300px;
    width: 190px;
    border-radius: 25px;
}

.fallout img:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.container-cards-2 {
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 110px;
}

/* top button container */

.top-button-container {
    display: block;
    position: fixed;
    width: 75px;
    height: 75px;
    border: 3px solid black;
    border-radius: 100%;
    left: 90%;
    bottom: 50px;
    right: 100px;
}

.top-button-container a{
    display: block;
    text-decoration: none;
    color: black;
}

.top-button {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
}

/* footer styling */

footer {
    background-color: white;
    margin-top: 60px;
    position: relative;
    z-index: -1;
}

.footer-elements {
    height: 250px;
}

footer i {
    color: black;
    font-size: 20px;
}

footer .logo-footer {
    position: absolute;
    top: 75px;
    width: 70px;
    left: 20px;
}

.footer-icons a {
    color: black;
    position: relative;
    top: 150px;
    gap: 20px;
}

.footer-elements a{
    margin-top: 100px;
    position: relative;
}

.footer-elements:hover {
    color: black;
    text-decoration: none;
}

.footer-elements i:hover {
    color: black;
    text-decoration: none;
}

.line-footer {
    margin-top: 90px;
    margin-left: 17px;
    position: relative;
}

.text-copyright {
    position: relative;
    margin-top: 40px;
    margin-bottom: 0;
}

.text-copyright p {
    user-select: none;
}



/* ----------------------------------- */

/* LOGIN PAGE */

/* ----------------------------------- */


/* header styling */

.logo-login {
    margin-top: 30px;
}

.logo-login img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    user-select: none;
}

/* register text styling */

.register-text {
    margin-top: 50px;
}

.register-text h1 {
    user-select: none;
}

.register-text p {
    user-select: none;
}


/* form styling */

.forms-container {
    margin-top: 50px;
    margin-bottom: 60px;
}

.forms-container p {
    color: red;
    display: none;
    position: absolute;
}

.forms-container .input-text-form {
    width: 500px;
    padding: 10px;
    border: 2px solid black;
    background-color: #9ebfd0;
}

.input-text-form::placeholder {
    color: black;
}

.input-text-form {
    outline: none;
}

.first_name {
    color: black;
}

.last_name {
    margin-top: 30px;
    color: black;
}

.email {
    margin-top: 30px;
    color: black;
}

/* submit button styling */

.submit-button {
    display: block;
    width: 500px;
    background-color: black;
    margin-top: -30px;
    margin-bottom: 30px;
}

.submit-button:hover {
    opacity: 0.8;
}

.submit-button a {
    display: block;
    text-decoration: none;
    color: white;
    width: 500px;
    margin-top: 25px;
    margin-bottom: 30px;
}







